[Unit]
Description=Consul Envoy Sidecar
After=consul.service
Requires=consul.service

[Service]
ExecStart=/usr/bin/consul connect envoy -sidecar-for=hotel-service
Restart=always
User=root

[Install]
WantedBy=multi-user.target